<form action="/add" method="post">

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <input type="text" id="todo-id" name="todo-name" required>
                </td>

                <td>
                    <input type="date" id="todo-date" name="todo-date" required>
                </td>

                <td>
                    <select name="todo-status" id="todo-status">
                        <option value="progress">Progress</option>
                        <option value="active">Active</option>
                        <option value="complete">Complete</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <button type="submit">Submit</button>

</form>


<h2>Todo List</h2>

<table border="1">

    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

        {% for i in todos %}

        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.due_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ i.status }}</td>
        </tr>

        {% endfor %}

    </tbody>

</table>
